ai.amq.password                                   "**redacted**" 
ai.bpms.server.pwd                                "**redacted**" 
ai.dataaccess.server.url                          "**redacted**" 
antiVirusServer                                   "**redacted**" 
antiVirusWebServiceUrl                            "**redacted**" 
bindCredential                                    "**redacted**" 
brmsKieServerPassword                             "**redacted**" 
encryptionKey                                     "**redacted**" 
java_naming_provider_url                          "**redacted**" 
keyStorePassword                                  "**redacted**" 
kie.keystore.key.ctrl.pwd                         "**redacted**" 
kie.keystore.keyStorePwd                          "**redacted**" 
oauthAccessCodeUrl                                "**redacted**" 
org.kie.server.user                               "**redacted**" 
org_kie_server_pwd                                "**redacted**" 
scoteidAppKey                                     "**redacted**" 
scoteidPassword                                   "**redacted**" 
scoteidUserpass                                   "**redacted**" 
