baseCtxDN                                         "**redacted**" 
baseFilter                                        "**redacted**" 
bindCredential                                    "**redacted**" 
bindDN                                            "**redacted**" 
java_naming_factory_initial                       "**redacted**" 
java_naming_provider_url                          "**redacted**" 
java_naming_referral                              "**redacted**" 
java_naming_security_authentication               "**redacted**" 
roleAttributeID                                   "**redacted**" 
roleAttributeIsDN                                 "**redacted**" 
roleFilter                                        "**redacted**" 
roleNameAttributeID                               "**redacted**" 
roleRecursion                                     "**redacted**" 
rolesCtxDN                                        "**redacted**" 
searchScope                                       "**redacted**" 
